/* Soluzione qui */

/*==LARGE MOBILE 576PX==*/
@media screen and (min-width: 576px) {
    .clearfix img {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .social-networks .btn {
        width: 150px;
    }
    }
/*====================*/

/*==TABLET MODE 768PX==*/
@media screen and (min-width: 769px) {
    #topbar {
        justify-content: left;
        font-size: 1em;
    }

    .recipe {
        padding: 25px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 2rem;
    }

 .quick-notes ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .social-networks .btn {
        width: 200px;
    }

    .ads {
        display: block;
    }

   .clearfix img {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}
/*====================*/

/*==DESKTOP MODE 992PX==*/
@media screen and (min-width: 993px) {
    .recipe-name {
        font-size: 2.5rem;
    }

    .recipe-card {
        display: flex;
        gap: 20px;
    }

    .recipe-video {
        height: 38vh;
        width: 36vw;
    }

    .recipe-info {
        padding: 10px;
    }

    .quick-notes ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
}
/*====================*/